
<div id="game-field" data-id="{{_id}}">

	<h2 class="explain" id="game-name">This is game: <span id="passcode-copy">{{passcode}}<span></h2>
	<h3 class="suggest">Player 1's intention was: {{player1_int}}</h3>
	<h3 class="suggest">Player 2's intention was: {{player2_int}}</h3>

	<div id="boards-list">

	</div>

	<div class="rules" id="player_info">
		
	</div>

</div>