    <div id="end-section" class="intro">
        <h1 id="goodbye">Thank you for participating in our game.</h1>
        <h2 id="farewell">Your contribution will help us to design a computational model that will try to predict players' intentions.</h2>
        <h3 id="final-remarks">Check this webpage after two weeks to see a comparison of human predictions and our model's predictions.</h3>
   </div>