	
<div id="game-field" data-id="{{_id}}" data-turn="{{turn}}">

	<h2 class="explain" id="game-name">This is game: <span id="passcode-copy">{{passcode}}<span></h2>
	<span id="server-message" class="server-status">{{status}}</span>

	<div id="widget">


		<div id="board"></div>
		<!-- <script src="/js/board_d3.js" type="text/javascript"></script> -->

		<button class="btn" id="submit-button">Submit</button>
		<!-- <button class="btn" id="clear-button">Clear</button> -->
		
	</div>

	<div class="rules" id="player_info">
		
	</div>

</div>