<div id="observer">
	<ul class="selections">
		<li>
    		<input type="radio" id="boundary-making" name="intent"/>
    		<label for="boundary-making">Boundary Making</label>
		</li>
		<li>
    		<input type="radio" id="containment" name="intent"/>
    		<label for="containment">Containment</label>
		</li>
		<li>
    		<input type="radio" id="marking" name="intent"/>
    		<label for="marking">Marking</label>
		</li>
		<li>
    		<input type="radio" id="repetition" name="intent"/>
    		<label for="repetition">Repetition</label>
		</li>
	</ul>
	<p> Rules of the Game(Instructions) for <span class="player_3">Player 3 / Observer</span>:</p>
	<ul>
		<li> In each round of the game try to guess the intention behind the move of each player.</li>
		<li> Select only one intention from the list above.</li>
		<li> Submit your response. </li>
	</ul
</div>