<div id="player-2">
	<span id="radio-warning-01" class="warning-radio">No id is found!</span>
	<span id="radio-warning-02" class="warning-radio">You need to select one intention.</span>
	<ul class="selections">
		<li>
    		<input type="radio" id="intersection" name="intent"/>
    		<label for="intersection">Intersection</label>
		</li>
		<li>
    		<input type="radio" id="containment" name="intent"/>
    		<label for="containment">Containment</label>
		</li>
		<li>
    		<input type="radio" id="clustering" name="intent"/>
    		<label for="clustering">Clustering</label>
		</li>
		<li>
    		<input type="radio" id="repetition" name="intent"/>
    		<label for="repetition">Repetition</label>
		</li>
	</ul>
	<ul class="confidences">
		<li>
    		<input placeholder="Confidence" id="intersect-confidence" type="number" min="0" max="100">
		</li>
		<li>
    		<input placeholder="Confidence" id="contain-confidence" type="number" min="0" max="100">
		</li>
		<li>
    		<input placeholder="Confidence" id="clustering-confidence" type="number" min="0" max="100">
		</li>
		<li>
    		<input placeholder="Confidence" id="repetition-confidence" type="number" min="0" max="100">
		</li>
	</ul>
	<div class="general-rules">
	<p class="rules-intro"> Rules of the Game for <span class="player_2">Player 2</span>:</p>
	<ul>
		<li>When it's your turn, Play at most 5 cells following the intention that is assigned to you (It's at the top of the page).</li>
		<li>Guess the Player 1's intention. State your confidence by providing a number between 0 and 100 for each of the intentions above. Don't forget: Sum of numbers must be equal to 100!</li>
		<li>You are cooperating for this design.</li>
		<li>Submit your response</li>
	</ul>
	</div>
</div>